@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
    font-weight: normal;
}
body{
    font-family: "Roboto", sans-serif;
    /*font-family: "Montserrat", sans-serif;*/
}

h1{
    font-size:3.2rem;
}

h2{
    font-size: 2.4rem;
}

h3{
    font-size: 1.9rem;
}

h4{
    font-size: 1.6rem;
}

p{
    font-size:1.6rem;
}

a{
    font-size:1.6rem;
    text-decoration: none;
    color: black;
}

ul li{
    list-style:none;
}

/*##################### Utility Classes #####################*/
/*START*/
.container {
    max-width: 1200px;
    width: 90%;
    margin:  auto;

}

.btn{
    display: inline-block;
    padding: 1em 2.5em;
    text-decoration:none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform:uppercase;
    font-weight:500;
}

.btn-primary{
    color:#fff;
    background:#16a083;
}

/*END*/

/*##################### body Content #####################*/
/*START*/
.registeration-form{
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #16a083;
    padding: 3rem;
}

.page-wrapper{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}
/*END*/
/*##################### body Content #####################*/

.form{
    display:flex;
    justify-content:center;
    align-items:center;
}

.form-header{
    text-align:center;
    margin-bottom:2em;
}

.form-title {
    color: #3C7073;
    font-size: 4em;
}

.form-group {
    font-size: 1.6rem;
}


/*##################### footer #####################*/
/*START*/

footer {
    color: #333;
}
/*
footer .container{
    max-width: 95%;
}*/

.line{
    border-color:rgba(0,0,0,0.1);
    border-style:solid;
    border-width:0.1rem;
}

.footer-row {
    margin: 2.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6c757d;
}

.copyright-social {
    /*margin:1rem 0;*/
    /*color: #6c757d;*/
}

.newsletter-content h3 {
    margin: 0;
}

.newsletter-from input{
    padding: .5em 1em;
    border-radius:5px;
    border-style:solid;
    margin-right:1rem;
    outline: none;
}

.newsletter-from button {
    padding: .5em 1em;
    border-radius: 5px;
    /*background-color: #007bff;*/
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
    text-transform: uppercase;
    text-align: center;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}


.newsletter-from button:hover{
    /*background-color:#0056b3;*/
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.social-media a {
    /*color: #383838;*/
    margin-left:1em;
    font-size:1.8rem;
    transition: color ease-in-out 5ms;
}   
.social-media a:hover{
    color:#437479;
}

.copyright p{
    font-size:1.5rem;
    /*color:#383838;*/
    margin:0;
}

/*END*/
