@model InventoryManagement.DTOs.UserDTO;

@{
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
	ViewData["Title"] = "Registration";
}
<div class="card">
	<div class="card-header">
		<h3 class="card-title">Registration</h3>
	</div>
	<br />
	<div class="card-body">
		<div class="row">
			<div action="col-md-12">
				@if(TempData["status"]!= null){
					<span style="color:red;">@TempData["status"]</span>
				}
				<form method="post" asp-action="Register" asp-controller="Auth">

					<div class="form-group">
						<label class="control-label" asp-for="FirstName"></label>
						<input class="form-control" asp-for="FirstName" required/>
						<span asp-validation-for="FirstName" class="text-danger"></span>
					</div>
					<br />
					<div class="form-group">
						<label class="control-label" asp-for="LastName"></label>
						<input class="form-control" asp-for="LastName" required/>
						<span asp-validation-for="LastName" class="text-danger"></span>
					</div>
					<br />
					<div class="form-group">
						<label class="control-label" asp-for="UserId"></label>
						<input class="form-control" asp-for="UserId" />
						<span asp-validation-for="UserId" class="text-danger"></span>
					</div>
					<br />
					<div class="form-group">
						<label class="control-label" asp-for="Email"></label>
						<input class="form-control" asp-for="Email" required/>
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<br />
					<div class="form-group">
						<label class="control-label" asp-for="Password"></label>
						<input class="form-control" type="password" asp-for="Password" required/>
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input type="submit" value="Sign Up" class="btn btn-primary" />
						<a class="btn btn-primary">Sign In</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>